// sass -s compressed --no-source-map module/Inane/src/Debug/_idebug.scss | pbcopy

.idebug {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 999999999999999;
    background: white;
    width: 100vw;
    border-top: 1px silver solid;
    font-size: 14px;

    .idebug-box {
        background: aliceblue;
        border-bottom: 3px grey groove;
        font-weight: 700;
        color: blueviolet;
    }

    summary {
        &:focus {
            outline: none;
        }
    }

    .ierror {
        border-bottom: 1px black solid;

        summary {
            border-bottom: 1px grey solid;
            background: darkgray;
            padding-left: .5rem;

            .iheader {
                min-width: 150px;
                display: inline-block;

                &::after {
                    content: ' :';
                    float: right;
                }
            }
        }

        pre {
            padding-left: 1rem;
        }
    }
}
